<app-navbar></app-navbar>

<div class="container"><br>
	<p class="text-center"><strong>Mentors for Angular </strong></p>
	<hr>
	<div class="row">
		<aside class="col-sm-4">
			<p>Mentor 1</p>
			<div class="card">
				<article class="card-body">
					<a href="signup.html" class="float-right btn btn-outline-primary">Sign up</a>
					<h4 class="card-title mb-4 mt-1">Gokul Raj</h4>
					<form>
						<div class="form-group">
							<label>Technology</label>
							<input name="" class="form-control" type="text" value="Angular" disabled>
						</div> <!-- form-group// -->
						<div class="form-group">
							<label>Specific Time</label>
							<input class="form-control" type="text" value="9am to 12pm/ 2pm to 5pm" disabled>
						</div> <!-- form-group// -->
						<div class="form-group">
						</div> <!-- form-group// -->
						<div class="form-group">
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#AngularMentor1">
								View Profile
							</button>
						</div> <!-- form-group// -->
						<!-- Modal -->
						<div class="modal fade" id="AngularMentor1" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLongTitle" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Mentor1 Profile</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<div class="container">

											<!--		<div class="col-md-offset-2 col-md-8 col-lg-offset-6 col-lg-6">-->
											<div class="well profile">
												<div class="col-sm-12">
													<div class="col-xs-12 col-sm-12">
														<h3>Gokul Raj</h3>
														<p><strong>Known Technology: </strong>Angular, Javascript,Core
															Java, SQL </p>
														<p><strong>Qualification: </strong> M.Tech</p>
														<p><strong>Specific Technology: </strong>Angular</p>
														<p><strong>Year of Experience: </strong> 4 </p>
														<p><strong>Number of trainings delivered in total: </strong> 38
														</p>
														<p><strong>Specific Time: </strong>9am to 12pm/ 2pm to 5pm </p>
														<p><strong>Email-id </strong>lionelgokul@easyway.com</p>
														<p><strong>Duration: </strong>June,1 to August,30</p>
														<p><strong>Fees : &#8377; 13,000</strong></p>
														<p><strong>Rating: </strong> 3.8/5 </p>
														<p>(5- Excellent, above4 - Very Good, above 3.5 - Good, above 3
															- Average, less than 3-Poor)</p>

													</div>

												</div>
											</div>
											<!--		</div>-->

										</div>
									</div>

									<div class="modal-footer">
										<a [routerLink]="['/paydetails']"><button type="button"
												class="btn btn-secondary">Pay</button></a>
										<button type="button" class="btn btn-primary pushme2">PROPOSE</button>
									</div>

								</div>
							</div>
						</div>
					</form>
				</article>
			</div> <!-- card.// -->
		</aside> <!-- col.// -->
		<aside class="col-sm-4">
			<p>Mentor 2</p>
			<div class="card">
				<article class="card-body">
					<a href="signup.html" class="float-right btn btn-outline-primary">Sign up</a>
					<h4 class="card-title mb-4 mt-1">Harish V</h4>
					<form>
						<div class="form-group">
							<label>Technology</label>
							<input name="" class="form-control" type="text" value="Angular" disabled>
						</div> <!-- form-group// -->
						<div class="form-group">
							<label>Specific Time</label>
							<input class="form-control" type="text" value="8am to 1pm/ 3pm to 6pm" disabled>
						</div> <!-- form-group// -->
						<div class="form-group">
						</div> <!-- form-group// -->
						<div class="form-group">
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#AngularMentor2">
								View Profile
							</button>
						</div> <!-- form-group// -->
						<!-- Modal -->
						<div class="modal fade" id="AngularMentor2" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLongTitle" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Mentor2 Profile</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<div class="container">

											<!--		<div class="col-md-offset-2 col-md-8 col-lg-offset-6 col-lg-6">-->
											<div class="well profile">
												<div class="col-sm-12">
													<div class="col-xs-12 col-sm-12">
														<h3>Harish V</h3>
														<p><strong>Known Technology: </strong>Angular, Java, SQL </p>
														<p><strong>Qualification: </strong> M.Tech</p>
														<p><strong>Specific Technology: </strong>Angular</p>
														<p><strong>Year of Experience: </strong> 5 </p>
														<p><strong>Number of trainings delivered in total: </strong> 32
														</p>
														<p><strong>Specific Time: </strong>8am to 1pm/ 3pm to 6pm</p>
														<p><strong>Email-id </strong>harish@easyway.com</p>
														<p><strong>Duration: </strong>March,1 to May,30</p>
														<p><strong>Fees : &#8377; 11,500</strong></p>
														<p><strong>Rating: </strong> 3.6/5 </p>
														<p>(5- Excellent, above4 - Very Good, above 3.5 - Good, above 3
															- Average, less than 3-Poor)</p>

													</div>

												</div>
											</div>
											<!--		</div>-->

										</div>
									</div>
									<div class="modal-footer">
										<a [routerLink]="['/paydetails']"><button type="button"
												class="btn btn-secondary">Pay</button></a>
										<button type="button" class="btn btn-primary pushme2">PROPOSE</button>
									</div>

								</div>
							</div>
						</div>
					</form>
				</article>
			</div> <!-- card.// -->
		</aside> <!-- col.// -->
		<aside class="col-sm-4">
			<p>Mentor 3</p>
			<div class="card">
				<article class="card-body">
					<a href="signup.html" class="float-right btn btn-outline-primary">Sign up</a>
					<h4 class="card-title mb-4 mt-1">Jagan P</h4>
					<form>
						<div class="form-group">
							<label>Technology</label>
							<input name="" class="form-control" type="text" value="Angular" disabled>
						</div> <!-- form-group// -->
						<div class="form-group">
							<label>Specific Time</label>
							<input class="form-control" type="text" value="9am to 1pm/ 2pm to 6pm" disabled>
						</div> <!-- form-group// -->
						<div class="form-group">
						</div> <!-- form-group// -->
						<div class="form-group">
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target="#AngularMentor3">
								View Profile
							</button>
						</div> <!-- form-group// -->
						<!-- Modal -->
						<div class="modal fade" id="AngularMentor3" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLongTitle" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Mentor3 Profile</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<div class="container">

											<!--		<div class="col-md-offset-2 col-md-8 col-lg-offset-6 col-lg-6">-->
											<div class="well profile">
												<div class="col-sm-12">
													<div class="col-xs-12 col-sm-12">
														<h3>Jagan P</h3>
														<p><strong>Known Technology: </strong>Angular, Python, Spring
														</p>
														<p><strong>Qualification: </strong> M.Tech</p>
														<p><strong>Specific Technology: </strong>Angular</p>
														<p><strong>Year of Experience: </strong> 7 </p>
														<p><strong>Number of trainings delivered in total: </strong> 86
														</p>
														<p><strong>Specific Time: </strong>9am to 1pm/ 2pm to 6pm </p>
														<p><strong>Duration: </strong>Sept,1 to Nov,30</p>
														<p><strong>Fees : &#8377; 14,000</strong></p>
														<p><strong>Email-id </strong>jagan.psaran@easyway.com</p>
														<p><strong>Rating: </strong> 4.0/5 </p>
														<p>(5- Excellent, above 4 - Very Good, above 3.5 - Good, above 3
															- Average, less than 3-Poor)</p>

													</div>

												</div>
											</div>
											<!--		</div>-->

										</div>
									</div>
									<div class="modal-footer">
										<a [routerLink]="['/paydetails']"><button type="button"
												class="btn btn-secondary">Pay</button></a>
										<button type="button" class="btn btn-primary pushme2">PROPOSE</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</article>
			</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div>
<!--container end.//-->

<article class="bg-secondary mb-3">
	<div class="card-body text-center">
		<h4 class="text-white">We are here to help you...! Make use of us..! </h4>
		<p class="h5 text-white"> for Front end, Middleware, Backend, and Devops</p>
		<!--<a class="btn btn-warning" target="_blank" href="#">--> easyway.com <br>
		contact us: 9898098980/ easyway@outlook.com
		<i class="fa fa-window-restore "></i>
	</div>

</article>