<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand">
        <h1 style="color:white">Mentor on Demands</h1>
    </a>
    <a [routerLink]="['/mentorprofile']" class="navbar-brand ml-auto ">
        <h4 style="color:white">back</h4>
    </a>
    <a [routerLink]="['/mentorsignin']" class="navbar-brand ">
        <h4 style="color:white">Logout</h4>
    </a>
</nav><br>
<div class="container">
        <h3> JSP</h3>
        <p>2 slots completed(50%)</p> 
        <div class="progress">
            <div class="progress-bar bg-info" style="width:25%">
                completed(25%)
            </div>
            <div class="progress-bar bg-warning" style="width:25%">
                completed(50%)
            </div>
            <div class="progress-bar bg-secondary" style="width:25%">
                not complete(75%)
            </div>
            <div class="progress-bar bg-success" style="width:25%">
                not complete(100%)
            </div>
        </div><br><button type="button"style="float:right">Withdraw</button>
        <div class="text-center">payment pending</div>
        
    </div><hr>
    <div class="container">
        <h3> JDBC</h3>
        <p>1 slots completed(25%)</p> 
        <div class="progress">
            <div class="progress-bar bg-info" style="width:25%">
                completed(25%)
            </div>
            <div class="progress-bar bg-warning" style="width:25%">
                not completed(50%)
            </div>
            <div class="progress-bar bg-secondary" style="width:25%">
                not complete(75%)
            </div>
            <div class="progress-bar bg-success" style="width:25%">
                not complete(100%)
            </div>
        </div><br><button type="button"style="float:right">Withdraw</button>
        <div class="text-center">payment pending for last 3 slots</div>
    </div><hr>
    <div class="container">
        <h3> Java</h3>
        <p>3 slots completed(75%)</p> 
        <div class="progress">
            <div class="progress-bar bg-info" style="width:25%">
                completed(25%)
            </div>
            <div class="progress-bar bg-warning" style="width:25%">
                completed(50%)
            </div>
            <div class="progress-bar bg-secondary" style="width:25%">
                complete(75%)
            </div>
            <div class="progress-bar bg-success" style="width:25%">
                not complete(100%)
            </div>
        </div><br><button type="button"style="float:right">Withdraw</button>
        <div class="text-center">payment pending for last 2 slots</div>
    </div><hr>
    <div class="container">
        <h3> HTML/CSS</h3>
        <p>4 slots completed(100%)</p> 
        <div class="progress">
            <div class="progress-bar bg-info" style="width:25%">
                completed(25%)
            </div>
            <div class="progress-bar bg-warning" style="width:25%">
                completed(50%)
            </div>
            <div class="progress-bar bg-secondary" style="width:25%">
                complete(75%)
            </div>
            <div class="progress-bar bg-success" style="width:25%">
                complete(100%)
            </div>
        </div><br><button type="button"style="float:right">Withdraw</button>
        <div class="text-center"><b>payment DONE</b></div>
    </div><hr>
    <div class="container">
        <h3> Bootstrap</h3>
        <p>4 slots completed(100%)</p> 
        <div class="progress">
            <div class="progress-bar bg-info" style="width:25%">
                completed(25%)
            </div>
            <div class="progress-bar bg-warning" style="width:25%">
                completed(50%)
            </div>
            <div class="progress-bar bg-secondary" style="width:25%">
                complete(75%)
            </div>
            <div class="progress-bar bg-success" style="width:25%">
                complete(100%)
            </div>
        </div><br><button type="button"style="float:right">Withdraw</button>
        <div class="text-center"><b>payment pending for last slot</b></div>
    </div><hr>
    <div class="container">
        <h3> Angular</h3>
        <p>4 slots completed(100%)</p> 
        <div class="progress">
            <div class="progress-bar bg-info" style="width:25%">
                completed(25%)
            </div>
            <div class="progress-bar bg-warning" style="width:25%">
                completed(50%)
            </div>
            <div class="progress-bar bg-secondary" style="width:25%">
                complete(75%)
            </div>
            <div class="progress-bar bg-success" style="width:25%">
                complete(100%)
            </div>
        </div><br><button type="button"style="float:right">Withdraw</button>
        <div class="text-center"><b>payment pending for 3 slots</b></div>
    </div><br><hr>
<footer  style="background-color:gray;">
    <p>easyway.com</p>
</footer>

